body {
  background: #27ae60;
  color: #fff;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.is-counting {
  animation: colorchage 1800s;
  animation-iteration-count: infinite;
}

@keyframes colorchage {
  0% { background: #27ae60;}
  15% { background: #16a085}
  30% { background: #f39c12}
  45% { background: #d35400}
  60% { background: #c0392b}
  75% { background: #8e44ad}
  90% { background: #2980b9}
  100% { background: #27ae60;}
}

.app {
  text-align: center;
  padding: 1rem 0 0 0;
}

.app__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 4rem;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.meeting__options {
  padding: 1rem;
  font-size: 2rem;
  line-height: 2;
}

.meeting__option {
  font-size: 2rem;
  margin: 0 0.5rem;
  padding: 0.8rem 0.25rem;
  min-width: 1rem;
  max-width: 5rem;
  text-align: center;
  background: none;
  border: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  outline: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.meeting__button {
  border: none;
  background: none;
  padding: 1rem;
  margin: 2rem 0 0 0;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.1);
}

.meeting__button:hover {
  background: rgba(0, 0, 0, 0.25);
}

.counter {
  font-size: 10rem;
  font-weight: 400;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.counter__currency {
  margin-left: 1rem;
}

.counter__meta {
  margin: 1rem 0;
  font-size: 1rem;
  text-shadow: none;
  font-weight: 200;
  letter-spacing: 1px;
}

.counter__separator {
  margin: 0 0.5rem;
}